# Tutorial :: Pandas, numpy, scipy and matplotlib

## Tutorial
- **Jupyter Notebook:** The Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. Uses include: data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine learning, and much more. https://jupyter.org/
- **Pandas:** Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language. https://pandas.pydata.org/
- **Numpy:** Besides its scientific uses, NumPy can also be used as an efficient multi-dimensional container of generic data. Arbitrary data-types can be defined. http://www.numpy.org/
- **Scipy:** SciPy is a Python-based ecosystem of open-source software for mathematics, science, and engineering. https://www.scipy.org/
- **Matplotlib:** Matplotlib is a Python 2D plotting library which produces publication quality figures in a variety of hardcopy formats and interactive environments across platforms. Matplotlib can be used in Python scripts, the Python and IPython shells, the Jupyter notebook, web application servers, and four graphical user interface https://matplotlib.org/

# Dataset

https://www.kaggle.com/harlfoxem/housesalesprediction

This dataset contains house sale prices for King County, which includes Seattle. It includes homes sold between May 2014 and May 2015.

# Jupyter Notebook

The Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. Uses include: data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine learning, and much more.
- Run a first example:
    - Control + ENTER
    - Shift + ENTER
- Review the toolbar options
- Different cell types: Heading, Markdown and Code
- Error messages
- Stop / Restart a kernel
- Download as ...

# Pandas

Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language. https://pandas.pydata.org/

In [ ]:
# import the library
%matplotlib inline

import pandas as pd
import numpy as np
import scipy
import matplotlib.pyplot as plt

# convert scientific notation to decimals
pd.set_option('display.float_format', lambda x: '%.2f' % x)

## Load files

The I/O API from Pandas support loadinf data from multiple filetypes:
https://pandas.pydata.org/pandas-docs/stable/io.html

In [ ]:
# read file from csv
df = pd.read_csv('data/kc_house_data.csv')

## Viewing DataFrames

In [ ]:
# view a dataframe
df

In [ ]:
# set the options to view number of rows and columns
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 20)

In [ ]:
# viewing the first X rows
df.head()

In [ ]:
# viewing the last X rows
df.tail()

In [ ]:
# view the dataframe index
df.index

In [ ]:
# view the dataframe columns
df.columns

In [ ]:
# view the dataframe values
df.values

In [ ]:
# view the dataframe shape
df.shape

## Sorting DataFrames

In [ ]:
# sort the dataframe by price
df.sort_values(by='price')

In [ ]:
# sort the dataframe by price descending
df.sort_values(by='price', ascending=False)

In [ ]:
# sorting by multiple columns
# TODO: sort the dataframe by the number of bedrooms and bathrooms

## Slicing the DataFrames

In [ ]:
# get a single column
df['zipcode']

In [ ]:
# get multiple columns
df[['lat', 'long']]

## Selecting data

In [ ]:
# select rows by a single column
df[df['bedrooms']==4]

In [ ]:
# select rows by multiple column
# TODO: select the houses with 4 bedrooms and sqft_living > 2000

In [ ]:
# select multiple rows by range
df[10:20]

In [ ]:
# select multiple rows and columns by range
df.iloc[0:5,0:10]

## Grouping data

In [ ]:
# grouping the data by a single column
df.groupby(by='bedrooms')['price'].mean().round()

In [ ]:
# grouping the data by a single column
# TODO: group the house prices by zipcode

In [ ]:
# grouping the data by multiple column
df.groupby(by=['bedrooms', 'bathrooms'])['price'].mean().round()

In [ ]:
# grouping the data considering multiple aggregating functions
df.groupby(by='bedrooms')['sqft_living'].agg([np.sum, np.mean, np.std, np.median, np.var, np.min, np.max])

# Pivot Tables

In [ ]:
# pivot table a dataframe
df.pivot_table(index='zipcode', columns='bedrooms', values='price', aggfunc=np.mean)

## Working with Dates / Time

In [ ]:
df.head()

In [ ]:
# transform string to datetime
df['date'] = pd.to_datetime(df['date'])
df.head()

In [ ]:
# group the prices by date
df.groupby(by='date')['price'].sum()

In [ ]:
# create new columns based on the dates (month, year, day of the week)
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year
df['dow'] = df['date'].dt.dayofweek
df.head()

# Operations

In [ ]:
# create new columns based on other columns
df['sqm_living'] = df['sqft_living']/10.764
df['sqm_lot'] = df['sqft_lot']/10.764
df

In [ ]:
# calculate descriptive statistics for numerical columns
df.describe().round()

In [ ]:
# transpose the dataframe for visualization
df.describe().T

In [ ]:
# descriptive statistics
np.mean(df['price'])

## Data Visualization

In [ ]:
# Scatter plot
plt.plot(df['price'], df['sqft_living15'], 'o')
plt.show()

In [ ]:
# Scatter plot multiple series
# TODO: plot in red the houses from the zipcode with the lowest prices
# TODO: plot in limegreen the houses from the zipcode with the highest prices
plt.figure(figsize=(12,6))
plt.plot(df['price'], df['sqft_living15'], 'o', color='lightgray', alpha=0.2)
plt.show()

In [ ]:
# Line chart
plt.figure(figsize=(12,6))
df_group = df.groupby(by='date')['price'].sum()
plt.plot(df_group.index, df_group.values, '-')
plt.show()

In [ ]:
# Histogram
plt.figure(figsize=(12,6))
plt.hist(df['price'], bins=100)
plt.show()